PORT=8787
FRONTEND_DIST_PATH=../frontend/dist

SMTP_HOST=smtp.your-provider.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=mailer@example.com
SMTP_PASS=your-app-password
SMTP_FROM=SoulScream <mailer@example.com>
SMTP_TO=your-target-email@example.com


VK_GROUP_TOKEN=vk1.a.xxxxx
VK_PEER_ID=123456789
VK_API_VERSION=5.199
